<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/styles/2.css">
   <title>Košarica</title>
</head>
<body>
   <div class="container">
      <div class="item" id="logotip">
         <img src = "/images/logotip.png"
               alt = "Healthy kitchen logotip"
               id = "logo"
               />
      </div>

      <div class="item" id="kat">
         <span id="naslov">Healthy Kitchen košarica</span>
      </div>

      <div class="item" id="kosarica">
         <a href = "cart">
            <img src="/images/kosarica.png" 
                  alt="Košarica"
                  id="cart"/> </a>
         <% if (cart) { %>
            <%let ukupno = ukupanZbroj(cart); %>
            <span id="brojacUkupno"><%= ukupno %></span>
         <% } else { %>
            <span id="brojacUkupno"></span>
         <% } %>
      
         <img src = "/images/povecalo.png"
               alt = "Pretraži"
               id="povecalo"/>
      </div>

      <div class="item" id="sadrzajKosarice">
         <p id="naslovKosarice">U Vašoj Healthy Kitchen košarici nalazi se:</p>
         <span id="nazivProizvodaKosarica">Naziv proizvoda</span>
         <span id="kolicinaProizvodaKosarica">Količina</span>

         <div class="item" id="proizvodi">
            <% for(let cartProduct of cart) { %>
               <div class="<%=cartProduct.ime%>" id="pojedinacniProizvod">
                  <span class="ime" id="ime"><%=cartProduct.ime%></span>
                  <form action='/cart/remove/<%=cartProduct.ime%>' method="post">
                     <button class="korekcijaMinus" id="korekcijaMinus" onclick="this.parentNode.submit();smanjiBrojacProizvoda('<%= cartProduct.ime %>'); return false;">-</button>
                  </form>
                  <% if(cart) {%>
                     <span class="kolicina" id="<%= cartProduct.ime %>"><%= cartProduct.kolicina %></span>
                  <% } %>
                
                  <form action='/cart/add/<%=cartProduct.ime%>' method="post">
                     <button class="korekcijaPlus" id="korekcijaPlus" onclick="this.parentNode.submit();povecajBrojacProizvoda('<%= cartProduct.ime %>');return false;">+</button>
                  </form>
               </div>
            <%}%>
         </div>
      </div>
   </div>

   <% function ukupanZbroj(kosarica) { %>
      <% let ukupno = 0; %>
      <% for(let kosariceEl of kosarica){ %>
         <% ukupno += parseInt(kosariceEl.kolicina); %>
      <% } %>
      <% return ukupno;%>
   <% } %>

   <% function proizvodUKosarici(kosarica, ime) { %>
      <% return kosarica.find(proiz => proiz.ime === ime); } %>
   
</body>


<script src="/scripts/brojaci.js"></script
</html>