<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Healthy kitchen</title>
   <link rel="stylesheet" href="/styles/1.css">
</head>

<body>
   <div class="container">
      <div class="item" id="logotip">
         <img src = "/images/logotip.png"
               alt = "Healthy kitchen logotip"
               id = "logo"/>
      </div>

      <div class="item" id="kosarica">
         <a href = "../cart">
            <img src="/images/kosarica.png"
                  alt="Košarica"
                  id="cart"/> </a>
         <% if (session.cart){ %>
            <% let ukupno = ukupanZbroj(session.cart); %>
            <% if (ukupno === 0) { %>
               <span id="brojacUkupno"></span>
            <% } else {%>
               <span id="brojacUkupno"><%= ukupno %></span>
            <% } %>
        <% } else {%>
            <span id="brojacUkupno"></span>
         <% } %>

         <span id="brojacUkupno"></span>
         <img src = "/images/povecalo.png"
               alt = "Pretraži"
               id="povecalo"/>
      </div>
         
      <div class="item" id="navigacija">
         <% for(let category of categories) { %>
            <form class = "form" method="get" action='/home/getProducts/<%= category.name %>'>
               <button class = "button" id="<%= category.name %>" onclick="this.parentNode.submit(); return false;"><%= category.name %></button>
            </form>
        
         <% } %>
      </div>

      <div class="item" id="section1">
         <p>Dobrodošli u Healthy Kitchen!!!</p>
      </div>

      <div class="item" id="kat">
         <span id="naslov"><%= kategorija %></span>
      </div>

      <div class="item" id="section2">
         <% for(let product of products) { %>
            <div class="divic">
               <img src="<%= product.image %>" id="slika">
               <span class="opis"><%= product.name %></span>
               <form action='/cart/add/<%= product.name %>' method="post">
                  <input type="hidden" name="kolicina" value="1">
                  <button class="add" onclick="this.parentNode.submit();povecajBrojacProizvoda('<%= product.name %>'); return false;">
                  <img src="/images/kosarica.png" id="slikaKosarice"></button>
                  <% if(session.cart) {%>
                     <% let objekt = proizvodUKosarici(session.cart, product.name); %>
                     <% if(objekt !== undefined) { %>
                        <p class="brArt" id="<%=product.name%>"><%= objekt.kolicina %></p>
                     <% } 

                      else {%>
                        <p class="brArt" id="<%=product.name%>"></p>
                     <% } %>
                  <% } else {%>
                     <p class="brArt" id="<%=product.name%>"></p>
                  <% } %>
                 
                
               </form>
            </div>
         <% } %>
      </div>

      <div class="item" id="aside">
         <p>Kontakt</p>
         <p>Newsletter</p>
         <p>Pretplati se</p>
      </div>
   </div>

   <% function proizvodUKosarici(kosarica, ime) { %>
      <% return kosarica.find(proiz => proiz.ime === ime); } %>

   <% function ukupanZbroj(kosarica) { %>
      <% let ukupno = 0; %>
      <% for(let kosariceEl of kosarica){ %>
         <% ukupno += parseInt(kosariceEl.kolicina); %>
      <% } %>
      <% return ukupno;%>
   <% } %>
</body>

<script src="/scripts/brojaci.js"></script


</html>